{% load static %}

<head> 
    <meta http-equiv="refresh" content="5" >
    <title>Prestacop Alerting</title>
</head>

<body>
    <center>
    <table>
        <tr>
            <th>timestamp</th>
            <th>long</th>
            <th>lat</th>
            <th>message</th>
            <th>droneId</th>
            <th>image</th>
        </tr>
        {% for obj in alerts %} 
          <tr>
            <td>{{ obj.timestamp }}</td>
            <td>{{ obj.long }}</td>
            <td>{{ obj.lat }}</td>
            <td>{{ obj.message }}</td>
            <td>{{ obj.droneId }}</td>
            <td>
                <img src="data:image/png;base64, {{ obj.image }}" />
            </td>
            <td><button type="button" name={{ obj.droneId }}>Take Controle</button></td>
            <form method='POST'> {% csrf_token %}
              <td><button type="submit" name="{{ obj.droneId }}_{{ obj.timestamp }}">Delete alert</button></td>
              </form>

          </tr>
        {% endfor %}
      </table>
    </center>
</body>

